/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-Inter: "Inter", sans-serif;
    --fonte-Poppins: "Poppins", sans-serif;
    --fonte-BebasNeue: "Bebas Neue", sans-serif;
    --fonte-NunitoSans: "Nunito Sans", sans-serif;
    --fonte-Montserrat: "Montserrat", sans-serif;
    --fonte-Roboto: "Roboto", sans-serif;

    --cor-azul1: #235A7D;
    --cor-branco: white;
    --cor-amarelo1: #EBBE73;
    --cor-amarelo2: #D2B174;
    --cor-bg-sobre: rgb(35, 90, 125, 0.07);
}

.carousel-item {
    position: relative;
}

.carousel-caption.caption-top {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    text-align: center;
}

.carousel-caption.caption-top h2 {
    color: var(--cor-amarelo2);
    font-weight: 700;
    font-size: 2.5rem;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7);
}

.titulo-casesucesso h2 {
    color: #000;
    font-weight: 700;
    font-size: 2.3rem;
}

.btn-casesucesso a {
    text-decoration: none;
    background-color: var(--cor-amarelo2);
    color: var(--cor-branco);
}

.btn-casesucesso {
    padding-top: 3rem;
}

/* Responsivo */
@media (max-width: 768px) {
    .carousel-caption h2 {
        font-size: 1.6rem;
    }

    .carousel-caption.caption-top {
        top: 5%;
    }

    .titulo-casesucesso h2 {
    padding: 0 16px;
}
}