/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --fonte-Inter: "Inter", sans-serif;
    --fonte-Poppins: "Poppins", sans-serif;
    --fonte-BebasNeue: "Bebas Neue", sans-serif;
    --fonte-NunitoSans: "Nunito Sans", sans-serif;
    --fonte-Montserrat: "Montserrat", sans-serif;
    --fonte-Roboto: "Roboto", sans-serif;

    --cor-azul1: #235A7D;
    --cor-branco: white;
    --cor-amarelo1: #EBBE73;
    --cor-amarelo2: #D2B174;
    --cor-bg-sobre: rgb(35, 90, 125, 0.07);
}

.accordion{
    --bs-accordion-active-bg: rgba(35, 90, 125, 0.25);
    --bs-accordion-active-color: black;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg: rgba(35, 90, 125, 0.25);
    --bs-accordion-border-width: 0px;
    
    --bs-accordion-button-active-color: white;
}   
   


.accordion-button.collapsed{
    padding: 2.5%;
    font-size: 1rem;
    color: rgba(25, 30, 21, 1);
    font-weight: 400;
    background: rgba(35, 90, 125, 0.25);
}
.accordion-collapse{
    background-color: rgba(35, 90, 125, 0.25);
}
.accordion-button:not(.collapsed){
    box-shadow: none;
    padding: 2.5%;
    font-weight: 400;
    font-size: 1rem;
}

.accordion-body{
    font-size: 1rem;
}

