/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --fonte-Inter: "Inter", sans-serif;
    --fonte-Poppins: "Poppins", sans-serif;
    --fonte-BebasNeue: "Bebas Neue", sans-serif;
    --fonte-NunitoSans: "Nunito Sans", sans-serif;
    --fonte-Montserrat: "Montserrat", sans-serif;
    --fonte-Roboto: "Roboto", sans-serif;

    --cor-azul1: #235A7D;
    --cor-branco: white;
    --cor-amarelo1: #EBBE73;
    --cor-amarelo2: #D2B174;
}

.content-card-servicos {
    color: var(--cor-branco);
    background-color: var(--cor-azul1);
}

.content-card-servicos{
    height: 340px;
}

.content-card-servicos h3{
    color: var(--cor-amarelo1);
}

.btn-servicos{
    text-decoration: none;
    background-color: var(--cor-amarelo2);
    color: white;
}